header h1{
  margin-bottom: 0;
}

header div span {
  color: aqua;
}

table{
  text-align: left;
}
thead{
  background-color: rgb(15, 165, 235);
  color: aliceblue;
}

.pattern{
  width: 100%;
  height: 100px;
  background-image: url('../img/pattern.png');
  background-color: aqua;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  color: aliceblue;
  font-size: 30px;
}

.scrittore {
  color: grey;
  margin-bottom: 20px;
}

.descrizione-foto{
  font-size: small;
}

.evidenziatore{
  background-color: yellow;
}

.colonna-1{
  column-width: 200px;
}

.colonna-2{
  column-width: 200px;

}

.row {
  background-color: rgb(160, 237, 243);
}


