body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
  margin: 0;
}

img{
  max-width: 100%;
}
/*HEADER*/
header{
  background-color: aqua;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 5px;
  background-image: url('../img/pattern.png');
  height: 50px;
}
.logo{
  width: 200px;
}
/*HEADER*/


/*MAIN*/
main{
padding: 20px;
}

ul{
  padding-bottom: 20px;
}

.scrittore {
  color: grey;
  padding-bottom: 5px;
  
}

.descrizione-foto{
  font-size: small;
  padding-bottom: 5px;
}

.evidenziatore{
  background-color: yellow;
}
/*MAIN*/


/*TABELLA*/
table{
  text-align: left;
  border-collapse: collapse;
}
thead{
  background-color: rgb(15, 165, 235);
  color: aliceblue;
}

.colonna-1{
  column-width: 200px;
}

.colonna-2{
  column-width: 200px;

}

.row {
  background-color: rgb(160, 237, 243);
}
/*TABELLA*/


/*FOOTER*/
footer{
  padding: 20px;
}


footer strong{
  color: grey;
}

.monitor{
  background-image: url(../img/monitor.jpg);
  width: 250px;
  height: 250px;
  color: aliceblue;
  font-size: 26px;
  margin-top: 5px;
}

.graph{
  background-image: url(../img/graph.jpg);
  width: 250px;
  height: 250px;
  color: aliceblue;
  font-size: 26px;
}
/*FOOTER*/